<h1><%= image_tag "potion.png", width: 80 %>&nbsp;&nbsp;Creepy Cocktails&nbsp;&nbsp;<%= image_tag "potion.png", width: 80 %></h1>
<br>
<p><%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-pink" %></p>
<div class="container text-center content-box">
  <% @cocktails.each do |cocktail| %>
  <div class="row card">
    <h2><%= cl_image_tag cocktail.photo.url, height: 100, width: 100, crop: :scale, class: "img-circle" %>&nbsp;&nbsp;&nbsp;<%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  </div>
  <% end %>
</div>
